/********Estilos para crear tortilla de patata*****/

body{background-image: url(../imagenes/pattern\ tablecoat.jpg);   /* body{bgc} */
              background-size: 1000px;
}    
#container{
    background-color: white;
    width: 90%;
    margin: auto;
    box-sizing: border-box;  /*Cualquier padding se toma dentro del tamaño especificado. No se añade al ancho/*
    padding: 40px;
    border-radius: 20px;}